body {	background-color:#e1e1e1;
				color:#fff;
				font-family: Arial, sans-serif;
				font-size:11px;
				line-height: 14px;
				padding:0px;
				margin:0px;	
				}


.box { 	background-color:#ff4499;
				-moz-border-radius:3px;
  		  -khtml-border-radius: 3px;
				-webkit-border-radius:3px;
				border-radius:3px;
				}
			
#firstbox { background: red; }
#secondbox { background: yellow }

.size21, .size22, .size23, .twocols { background: #ccc }
.size31, .size32, .size33, .threecols { background: #ff9999 }